APP_PORT=8080
MCP_TRANSPORT=sse

# Credenciales tower_coverage
TOWER_USERNAME=tu_correo@ejemplo.com
TOWER_PASSWORD=tu_contraseña_segura

# Configuración de Base de Datos
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_db
DB_NAME=tower_coverage_db